* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

@media screen and (max-width: 767px){
  header{
    text-align:center;
  }
  .hamburger{
    align-self: flex-start;
    background-color: gray;
  }
  .menu{
    display: none;
  }
  .product{
    display:block;
    text-align: center;
  }
  .social{
    list-style: none;
    display:flex;
    flex-orientation:row;
    padding:15px 15px 15px 15px;
  }
  footer{
    align-items:center;
  }
}

@media screen and (max-width: 1024px){
  body{
    background-color: purple;
  }
  header{
    text-align:center;
  }
  .hamburger{
    align-self: flex-start;
    background-color: gray;
  }
  .menu{
    display: none;
  }
  .product{
    display:block;
    margin: 10px;
    padding:10px;
    text-align: center;
  }
  .social{
    list-style: none;
    display:flex-wrap;
    flex-orientation:row;
  }
  footer{
    align-items:center;
  }
}

@media screen and (min-width: 1025px){
  body{
    background-color: green;
  }
  header{
    text-align:center;
  }
  .hamburger{
    align-self: flex-start;
    background-color: gray;
  }
  .menu{
    display:flex-wrap;
    flex-orientation:row;
  }
  .product{
    display: flex;
    flex-direction:row;
  }
  .social{
    list-style: none;
    display:flex-wrap;
    flex-orientation:row;
    padding:15px 15px 15px 15px;
  }
  footer{
    align-items:center;
  }
}
