* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

@media screen and (max-width: 767px){
  header{
    text-align:center;
  }
  .hamburger{
    align-self: flex-start;
    background-color: gray;
  }
  .menu{
    display: none;
  }
  .product{
    display:block;
    text-align: center;
    box-sizing:inherit;
  }
  section {
  display: block;
  border:2px solid lightgray;
  }
  .social{
    list-style: none;
    display:flex;
    flex-orientation:row;
    padding:15px 15px 15px 15px;
  }
  footer{
    align-items:center;
  }
}

@media screen and (max-width: 1024px){
  header{
    text-align:center;
  }
  .hamburger{
    align-self: flex-start;
    background-color: gray;
  }
  .menu{
    display: none;
  }
  .product{
    display:block;
    margin: 10px;
    text-align: center;
  }
  section {
  display: block;
  border:2px solid lightgray;
  margin:auto;
  }
  .social{
    list-style: none;
    display:flex-wrap;
    flex-orientation:row;
  }
  footer{
    align-items:center;
  }
}

@media screen and (min-width: 1025px){
  header{
    text-align:center;
  }
  .hamburger{
    visibility: hidden;
  }
  .menu{
    display:block;
    background-color:gray;
    list-style: none;
    display:flex;
    flex-orientation:row;
    align-content:right;

  }
  section {
    display: block;
    border:2px solid lightgray;
    width: 400px;
    height: 340px;
    padding:10px 10px 10px 10px;
    margin:auto;
  }
  main{
    display:flex;
    flex-orientation:row;
  }
  .product{
    margin: auto;
    text-align: center;
  }
  .social{
    list-style: none;
    display:flex;
    flex-orientation:row;
    padding:15px 15px 15px 15px;
  }
  footer{
    align-items:center;
  }
}
